{{page-title "Index"}}
<button {{on 'click' this.createPublication}}>Create Meeting from publication</button>
{{#if this.refresh}}
  refreshing in {{this.refresh}} seconds (check publicatie service for extraction of meeting)
{{/if}}
<ul>
{{#each @model as |meeting|}}
  <li>meeting {{meeting.id}} {{meeting.geplandeStart}} <button {{on 'click' (fn this.deleteMeeting meeting)}}>Delete</button></li>
{{/each}}
</ul>
{{outlet}}

